<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('参试设备——我的使用列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>设备名称：</label>
                                <input type="text" name="blockName"/>
                            </li>
                            <li>
                                <label>操作名称：</label>
                                <select name="usageState" id="usageState">
                                    <option value="" th:text="请选择..."></option>
                                    <option value="2">已出库</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        // var removeFlag = [[${@permission.hasPermi('system:usage:remove')}]];
        var prefix = ctx + "/system/usageLog";

        $(function() {
            var options = {
                url: "http://localhost:8080/system/usageLog/Loyalist",
                // removeUrl: prefix + "/remove/{id}",
                modalName: "参试设备——我的使用",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'UsageLog.usageId',
                    title: '编号',
                    visible: false

                },
                {
                    field: 'oaReferenceBlock.blockId',
                    title: '编号',
                },

                    {
                        field: 'oaReferenceBlock.blockName',
                        title: '设备名称'
                    },
                    {
                        field: 'oaReferenceBlock.unitType',
                        title: '设备型号'
                    },
                    {
                        field: 'oaReferenceBlock.storageId',
                        title: '存放位置'
                    },
                    {
                        field: 'oaReferenceBlock.sysUser.loginName',
                        title: '创建人'
                    },
                    {
                        field: 'oaReferenceBlock.creationTime',
                        title: '创建时间'
                    },
                    {
                        field: 'oaReferenceBlock.blockStatus',
                        title: '参试设备使用状态',
                        formatter : function(value) {
                            if (value ==1) {
                                return "未试验"
                            }else if (value == 2) {
                                return "实验中"
                            }else if (value == 3) {
                                return "试验完成"
                            }
                        }
                    },
                {
                    field: 'oaReferenceBlock.usageState',
                    title: '参试设备状态',
                    formatter:function (value) {
                        if (value ===1){
                            return "未出库"
                        }
                        if (value ===2){
                            return "已出库";
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.warehouse(\''+row.blockId+'\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>