<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增参试设备')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-block-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备名称：</label>
                <div class="col-sm-8">
                    <input name="blockName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">设备型号：</label>
                <div class="col-sm-8">
                    <input name="unitType" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">存放位置：</label>
                <div class="col-sm-8">
                    <input type="text" name="storageId" id="storageId">
<!--                    <input name="storageId" class="form-control" type="text" required>-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">所属部门：</label>
                <div class="col-sm-8">
                    <select name="deptId" id="deptId">
                        <option th:each="dept:${sysDepts}" th:value="${dept.deptId}" th:text="${dept.deptName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">创建人：</label>
                <div class="col-sm-8">
                    <div class="col-sm-8">
                        <input name="loginName" th:value="${loginName}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="creationTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备状态：</label>
                <div class="col-sm-8">
                    <select name="blockStatus" id="blockStatus">
                        <option value="1">未试验</option>
                        <option value="2">实验中</option>
                        <option value="2">试验完成</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
            <label class="font-noraml">附件：</label>
            <br/>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-white btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">更改</span><input type="file" name="fileId"></span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">试验主持人：</label>
                <div class="col-sm-8">
                    <input name="testName" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/block"
        $("#form-block-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-block-add').serialize());
            }
        }

        $("input[name='creationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate: new Date()
        });

    </script>
</body>
</html>