<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('参试设备列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>设备名称：</label>
                                <input type="text" name="blockName"/>
                            </li>
                            <li>
                                <label>存放位置：</label>
                                <input type="text" name="storageId"/>
                            </li>
                            <li>
                                <label>使用状态：</label>
                                <select name="usageState" id="usageState" >
                                    <option value="" th:text="请选择..."></option>
                                    <option value="1">未出库</option>
                                    <option value="2">已出库</option>
                                </select>
                            </li>
                            <li>
                                <label>设备状态：</label>
                                <select name="blockStatus" id="blockStatus" >
                                    <option value="" th:text="请选择设备状态..."></option>
                                    <option value="1">未试验</option>
                                    <option value="2">实验中</option>
                                    <option value="3">实验完成</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:block:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="system:duty:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:block:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:block:edit')}]];
        var Storage = [[${@permission.hasPermi('system:block:Storage')}]];
        var removeFlag = [[${@permission.hasPermi('system:duty:remove')}]];
        var prefix = ctx + "system/block";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                Storage: prefix + "/Storage/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "参试设备",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'blockId',
                    title: '编号',
                    // visible: false
                },
                {
                    field: 'blockName',
                    title: '设备名称'
                },
                {
                    field: 'unitType',
                    title: '设备型号'
                },
                {
                    field: 'storageId',
                    title: '存放位置'
                },
                {
                    field: 'loginName',
                    title: '创建人'
                },
                {
                    field: 'creationTime',
                    title: '创建时间'
                },
                {
                    field: 'blockStatus',
                    title: '设备状态',
                    formatter:function(value){
                        if(value ==1){
                            return "未试验";
                        }else if (value ==2){
                            return "实验中";
                        }else if (value==3){
                            return "试验完成";
                        }
                    }
                },
                {
                    field: 'usageState',
                    title: '使用状态',
                    formatter:function(value){
                        if (value==1){
                            return "未出库";
                        }else if (value == 2) {
                            return "已出库"
                        }
                    }

                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.blockId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a id="aa'+row.blockId+'" class="btn btn-danger btn-xs ' + Storage + '" href="javascript:void(0)" onclick="$.operate.Storage(\'' + row.blockId + "/" +row.blockStatus + '\')"><i class="fa fa-3x"></i>出库</a>');
                        actions.push('<a id="bb'+row.blockId+'" class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.blockId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        if (row.usageState == 2){
                            let id = "#aa"+row.blockId;
                            setTimeout(function (){
                                aa()
                            },100)
                            function aa(){
                                $(id).attr("disabled", "disabled")
                                $(id).attr("onclick", "")

                            }
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>