<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.synergy.mapper.OaUserDutyMapper">

    <resultMap type="OaUserDuty" id="OaUserDutyResult">
        <result property="dId" column="d_id"/>
        <result property="dName" column="d_name"/>
        <result property="scheduleId" column="schedule_id"/>
        <result property="currentTime" column="current_time"/>
        <result property="dPeople" column="d_people"/>
        <result property="dState" column="d_state"/>
        <association property="oaUserSchedule" javaType="OaUserSchedule">
            <id property="scheduleId" column="s_id"/>
            <result property="scheduleName" column="s_Name"/>
            <result property="userId" column="user_id"/>
            <association property="sysUser" javaType="SysUser">
                <id property="userId" column="user_Id"/>
                <result property="loginName" column="login_name"/>
            </association>
<!--            <association property="dept" select="oaScheduleDept" javaType="SysDept"/>-->
        </association>
    </resultMap>

    <resultMap id="oaScheduleDept" type="OaUserSchedule">
            <id property="scheduleId" column="s_id"/>
            <result property="scheduleName" column="schedule_Name"/>
            <result property="userId" column="user_id"/>
    </resultMap>


    <sql id="selectOaUserDutyVo">
        select
            o.d_id,
            o.d_name,
            o.schedule_id as osId,
            oau.s_id,
            oau.s_name,
            oau.dept_id,
            sd.dept_name,
            oau.user_id,
            su.user_name,
            o.current_time,
            o.d_people,
            o.d_state,
            o.d_attachment,
            o.d_comment,
            o.del_flag,
            o.created_by,
            o.created_time,
            o.updated_by,
            o.updated_time
        from oa_user_duty o left join oa_user_schedule oau on o.schedule_id=oau.s_id
                            left join sys_dept sd on oau.dept_id = sd.dept_id
                            left join sys_user su on oau.user_id = su.user_id

    </sql>

    <sql id="selectOaUserDutyVo2">
        select
            o.d_id as dId,
            o.d_name as dName,
            o.schedule_id as ascheduleId,
            oau.s_id as sId,
            oau.s_name as scheduleName,
            sd.dept_name as deptName,
            oau.user_id as userId,
            su.login_name as LoginName,
            o.current_time as currentTime,
            o.d_people as dPeople,
            o.d_state as State
        from oa_user_duty as o left join oa_user_schedule as oau on o.schedule_id=oau.s_id
                            left join sys_dept as sd on oau.dept_id = sd.dept_id
                            left join sys_user as su on oau.user_id = su.user_id

    </sql>

    <select id="selectOaUserDutyList" parameterType="OaUserDuty" resultType="java.util.Map">
        <include refid="selectOaUserDutyVo2"/>
        <where>
            <if test="dName != null  and dName != ''">and d_name like concat('%', #{dName}, '%')</if>
            <if test="scheduleId != null ">and schedule_id = #{scheduleId}</if>
            <if test="currentTime != null ">and current_time = #{currentTime}</if>
            <if test="dPeople != null  and dPeople != ''">and d_people = #{dPeople}</if>
            <if test="dState != null ">and d_state = #{dState}</if>
        </where>
    </select>

    <select id="selectOaUserDutyByDId" parameterType="Long" resultMap="OaUserDutyResult">
        <include refid="selectOaUserDutyVo"/>
        where d_id = #{dId}
    </select>

    <insert id="insertOaUserDuty" parameterType="OaUserDuty" useGeneratedKeys="true" keyProperty="dId">
        insert into oa_user_duty
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dName != null and dName != ''">d_name,</if>
            <if test="scheduleId != null">schedule_id,</if>
            <if test="currentTime != null">current_time,</if>
            <if test="dPeople != null and dPeople != ''">d_people,</if>
            <if test="dState != null">d_state</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dName != null and dName != ''">#{dName},</if>
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="currentTime != null">#{currentTime},</if>
            <if test="dPeople != null and dPeople != ''">#{dPeople},</if>
            <if test="dState != null">#{dState}</if>
        </trim>
    </insert>

    <update id="updateOaUserDuty" parameterType="OaUserDuty">
        update oa_user_duty
        <trim prefix="SET" suffixOverrides=",">
            <if test="dName != null and dName != ''">d_name = #{dName},</if>
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="currentTime != null">`current_time` = #{currentTime},</if>
            <if test="dPeople != null and dPeople != ''">d_people = #{dPeople},</if>
            <if test="dState != null">`d_state` = #{dState},</if>
            <if test="dAttachment != null">d_attachment = #{dAttachment},</if>
            <if test="dComment != null">d_comment = #{dComment},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where d_id = #{dId}
    </update>

    <delete id="deleteOaUserDutyByDId" parameterType="Long">
        delete
        from oa_user_duty
        where d_id = #{dId}
    </delete>

    <delete id="deleteOaUserDutyByDIds" parameterType="String">
        delete from oa_user_duty where d_id in
        <foreach item="dId" collection="array" open="(" separator="," close=")">
            #{dId}
        </foreach>
    </delete>

</mapper>