<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.synergy.mapper.OaUsageMapper">
    
    <resultMap type="OaUsage" id="OaUsageResult">
        <result property="usageId"    column="usage_id"    />
        <result property="blockId"    column="block_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <association property="oaReferenceBlock" javaType="OaReferenceBlock">
            <id property="blockId" column="block_id"/>
            <result property="blockName" column="block_Name"/>
            <result property="unitType" column="unit_type"/>
            <result property="storageId" column="storage_id"/>
            <result property="userId" column="user_id"/>
            <result property="creationTime" column="creation_time"/>
            <result property="blockStatus" column="block_status"/>
            <result property="usageState" column="usage_state"/>
            <association property="sysUser" javaType="SysUser">
                <id property="userId" column="user_Id"/>
                <result property="userName" column="user_Name"/>
            </association>
        </association>
    </resultMap>

    <sql id="selectOaUsageVo">
        select ou.usage_id as       ou_usageId,
               ou.block_id as       ou_blockId,
               orb.block_name as    ou_blockName,
               orb.unit_type as     ou_unitType,
               orb.storage_id as    ou_storageId,
               orb.user_id as       ou_userId,
               su.user_name as      ou_userName,
               orb.creation_time as ou_creationTime,
               orb.block_status as  ou_blockState,
               orb.usage_state as   ou_usageState,
               ou.del_flag as       ou_delFlage,
               ou.created_by as     ou_createdBy,
               ou.created_time as   ou_createdTime,
               ou.updated_by as     ou_updateBy,
               ou.updated_time as   ou_updatedTime
        from oa_usage ou
                 left join oa_reference_block orb on ou.block_id = orb.block_id
                 left join sys_user su on orb.user_id = su.user_id

</sql>

    <select id="selectOaUsageList"  resultType="java.util.Map">
        <include refid="selectOaUsageVo"/>
        <where>
            usage_state=2
                <if test="blockName != null "> and  block_name like concat('%', #{blockName}, '%')</if>
                <if test="usageState != null "> and orb.usage_state = #{usageState}</if>

        </where>
    </select>
    
    <select id="selectOaUsageByUsageId" parameterType="Long" resultMap="OaUsageResult">
        <include refid="selectOaUsageVo"/>
        where usage_state=2 and usage_id = #{usageId}
    </select>
    <select id="selctUsageLogList" resultType="java.util.Map">
        <include refid="selectOaUsageVo"/>
    </select>

    <insert id="insertOaUsage" parameterType="OaUsage" useGeneratedKeys="true" keyProperty="usageId">
        insert into oa_usage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blockId != null">block_id,</if>
            <if test="usageState != null">usage_state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blockId != null">#{blockId},</if>
            <if test="usageState != null">#{usageState},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateOaUsage" parameterType="OaUsage">
        update oa_usage
        <trim prefix="SET" suffixOverrides=",">
            <if test="blockId != null">block_id = #{blockId},</if>
            <if test="usageState != null">usage_state = #{usageState},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where usage_id = #{usageId}
    </update>

    <delete id="deleteOaUsageByUsageId" parameterType="Long">
        delete from oa_usage where usage_id = #{usageId}
    </delete>

    <delete id="deleteOaUsageByUsageIds" parameterType="String">
        delete from oa_usage where usage_id in 
        <foreach item="usageId" collection="array" open="(" separator="," close=")">
            #{usageId}
        </foreach>
    </delete>

    <update id="upStorage">
        update oa_reference_block set usage_state=1 ,block_status=3 where block_id=#{blockId}
    </update>
</mapper>