<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.synergy.mapper.OaUserScheduleMapper">
    
    <resultMap type="OaUserSchedule" id="OaUserScheduleResult">
        <id property="scheduleId"    column="s_Id"    />
        <result property="scheduleName"    column="s_Name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="approvalState"    column="approval_state"    />
        <result property="userId"    column="user_id"    />
        <result property="shiftId"    column="shift_id"    />
        <result property="dAttachment"    column="d_attachment"    />
        <result property="dComment"    column="d_comment"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />

        <association property="sysUser" javaType="SysUser">
            <id property="userId" column="user_Id"/>
            <result property="userName" column="user_Name"/>
        </association>
        <association property="dept" javaType="SysDept">
            <id property="depId" column="dep_Id"/>
            <result property="deptName" column="dept_Name"/>
        </association>
        <association property="oaDutyRoom" javaType="OaDutyRoom">
            <id property="shiftId" column="shift_id"/>
            <result property="shiftDate" column="shift_Date"/>
            <result property="userId" column="user_id"/>
        </association>
    </resultMap>


    <sql id="selectOaUserScheduleVo">
        select s_id, s_name, dept_id , create_time, approval_state,
              user_id ,
               shift_id, d_attachment, d_comment, del_flag, created_by,
               created_time, updated_by, updated_time from oa_user_schedule
    </sql>

    <sql id="OaUser">
        select u.s_id,
               u.s_name,
               u.dept_id as did,
               sd.dept_id,
               sd.dept_name,
               u.create_time,
               u.approval_state,
               u.user_id ,
               su.user_id,
               su.user_name,
               u.shift_id as usId,
               u.d_attachment,
               u.d_comment,
               u.del_flag,
               u.created_by,
               u.created_time,
               u.updated_by,
               u.updated_time
        from oa_user_schedule u
                 left join sys_user su on u.user_id = su.user_id
                 left join sys_dept sd on u.dept_id = sd.dept_id
                left join oa_duty_room odr on u.shift_id = odr.shift_id

    </sql>

    <select id="query" parameterType="OaUserSchedule" resultMap="OaUserScheduleResult">
        <include refid="OaUser"/>
        <where>
            <if test="scheduleName != null  and scheduleName != ''"> and s_name like concat('%', #{scheduleName}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="approvalState != null "> and approval_state = #{approvalState}</if>

        </where>
    </select>
    
    <select id="selectOaUserScheduleBySId" parameterType="Long" resultMap="OaUserScheduleResult">
        <include refid="selectOaUserScheduleVo"/>
        where s_id = #{sId}
    </select>
        
    <insert id="insertOaUserSchedule" parameterType="OaUserSchedule" useGeneratedKeys="true" keyProperty="scheduleId">
        insert into oa_user_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scheduleName != null and scheduleName != ''">s_name,</if>
            <if test="deptId != null and deptId!=0">dept_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="approvalState != 0">approval_state,</if>
            <if test="userId != 0">user_id,</if>
            <if test="shift_Id != 0">shift_id,</if>
            <if test="dAttachment != null">d_attachment,</if>
            <if test="dComment != null">d_comment,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scheduleName != null and scheduleName != ''">#{scheduleName},</if>
            <if test="deptId != null and deptId!=0">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="approvalState != 0">#{approvalState},</if>
            <if test="userId != 0">#{userId},</if>
            <if test="shiftId != 0">#{shiftId},</if>
            <if test="dAttachment != null">#{dAttachment},</if>
            <if test="dComment != null">#{dComment},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateOaUserSchedule" parameterType="OaUserSchedule">
        update oa_user_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="sName != null and sName != ''">s_name = #{sName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="approvalState != null">approval_state = #{approvalState},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="dAttachment != null">d_attachment = #{dAttachment},</if>
            <if test="dComment != null">d_comment = #{dComment},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where s_id = #{sId}
    </update>

    <delete id="deleteOaUserScheduleBySId" parameterType="Long">
        delete from oa_user_schedule where s_id = #{sId}
    </delete>

    <delete id="deleteOaUserScheduleBySIds" parameterType="String">
        delete from oa_user_schedule where s_id in 
        <foreach item="sId" collection="array" open="(" separator="," close=")">
            #{sId}
        </foreach>
    </delete>

</mapper>