<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.synergy.mapper.UsageLogMapper">
    
    <resultMap type="UsageLog" id="OaUsageResult">
        <result property="usageId"    column="usage_id"    />
        <result property="blockId"    column="block_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <association property="oaReferenceBlock" javaType="OaReferenceBlock">
            <id property="blockId" column="block_id"/>
            <result property="blockName" column="block_Name"/>
            <result property="unitType" column="unit_type"/>
            <result property="storageId" column="storage_id"/>
            <result property="userId" column="user_id"/>
            <result property="creationTime" column="creation_time"/>
            <result property="blockStatus" column="block_status"/>
            <result property="usageState" column="usage_state"/>
            <association property="sysUser" javaType="SysUser">
                <id property="userId" column="user_Id"/>
                <result property="loginName" column="login_Name"/>
            </association>
        </association>
    </resultMap>
    <select id="selctUsageLogList" resultMap="OaUsageResult">
        select ob.block_id,
               ob.block_name,
               ob.unit_type,
               ob.storage_id,
               su.user_id,
               su.login_Name,
               ob.creation_time,
               ob.block_status,
               ob.usage_state,
               ob.del_flag,
               ob.created_by,
               ob.created_time,
               ob.updated_by ,
               ob.updated_time
        from oa_reference_block ob
                 left  join sys_user su on ob.user_id = su.user_id
    </select>

    <delete id="deleteOaUsageByUsageId" parameterType="Long">
        delete from oa_reference_block where block_id = #{blockId}
    </delete>

    <delete id="deleteOaUsageByUsageIds" parameterType="String">
        delete from oa_reference_block where block_id in
        <foreach item="blockId" collection="array" open="(" separator="," close=")">
            #{blockId}
        </foreach>
    </delete>
</mapper>