<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('值班列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>值班名称：</label>
                            <input name="dName" type="text"/>
                        </li>
                        <li>
                            <label>排班id：</label>
                            <input name="scheduleId" type="text"/>
                        </li>
                        <li>
                            <label>部门id：</label>
                            <input name="deptId" type="text"/>
                        </li>

                        <li>
                            <label>值班状态：</label>
                            <input name="dState" type="text"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:duty:add">
                <i class="fa fa-plus"></i> 添加
            </a>

            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:duty:remove">
                <i class="fa fa-remove"></i> 删除
            </a>

        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:duty:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:duty:remove')}]];
    var detail = [[${@permission.hasPermi('system:schedule:detail')}]];

    var prefix = ctx + "system/duty";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            modalName: "值班",
            columns: [{
                checkbox: true
            },
                {
                    field: 'dId',
                    title: '编号',
                    // visible: false
                },
                {
                    field: 'dName',
                    title: '值班名称'
                },
                {
                    field: 'scheduleName',
                    title: '排班名称'
                },
                {
                    field: 'deptName',
                    title: '部门'
                },
                {
                    field: 'LoginName',
                    title: '创建人'
                },
                {
                    field: 'currentTime',
                    title: '创建时间'
                },
                {
                    field: 'dPeople',
                    title: '值班人'
                },
                {
                    field: 'State',
                    title: '值班状态',
                    formatter:function(value) {
                        if (value==1) {
                            return "正常"
                        }
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + detail + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.dId + '\')"><i class="fa fa-search"></i>详细</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.dId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.dId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>