<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增排班')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<form class="form-horizontal" id="form-add">
    <h4 class="form-header h4">排期信息</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-4 control-label is-required">编号：</label>
                <div class="col-sm-8">
                    <input class="form-control" maxlength="30" name="scheduleId" required type="text" value="">
                </div>
            </div>
        </div>
        <script>
            var num = "";   //定义用户编号
            num += Math.floor(Math.random() * 10000000);
            document.querySelector('.form-control').value = num
        </script>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">排班名称：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="scheduleName"  id="scheduleName" required type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" hidden >
                    <div class="form-group">
                        <label class="col-sm-4 control-label">部门：</label>
                        <div class="col-sm-8">
                            <input class="form-control " readonly id="deptId" name="deptId" th:value="${user.getDeptId()}" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-right: 124px;">
                        <label class="col-sm-4 control-label is-required">创建时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <input class="form-control" name="createTime" placeholder="yyyy-MM-dd" type="text">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-left: 58px;">
                            <label class="col-sm-4 control-label is-required">审批状态：</label>
                            <div class="col-sm-8">
                                <select name="approvalState" id="approvalState">
                                    <option value="1">已同意</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-right: 163px;">
                                <label class="col-sm-4 control-label is-required">流程名称：</label>
                                <div class="col-sm-8">
                                    <input class="form-control" readonly maxlength="30" name="name" required
                                           type="text" value="排班信息">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">备注：</label>
                            <div class="col-xs-10">
                                <textarea name="dComment" maxlength="500" class="form-control valid" rows="3" style="width: 266px; height: 56px;"></textarea>
                            </div>
                            <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 311px;margin-left: 500px;">
                                <span class="btn btn-white btn-file" style="position: relative;top: -56px;"><span class="fileinput-new" >选择文件</span><span class="fileinput-exists">更改</span><input type="hidden" value="" name="dAttachment"><input type="file" name="dAttachment"></span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none;position: relative;top: -52px;">×</a>
                            </div>
                        </div>

                        <h4 class="form-header h4" style="margin-top: -54px;margin-left: 84px;">排班中间信息</h4>
            <div class="row">
                <div class="col-sm-12" style="margin-left: 85px;">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped" style="padding-left: 0px;margin-left: 9px;padding-right: 179px;">
                        <table id="bootstrap-table" ></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
<script th:src="@{/js/jquery.tmpl.js}"></script>
    <script th:inline="javascript">
        var a = document.getElementById("#a");
        console.log(a)

        var prefix = ctx + "system/schedule"
        $("#form-schedule-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            var data = $("#form-add").serializeArray();
            alert(JSON.stringify(data))
            $.operate.saveModal("/system/schedule/add", data);

        }
        $(function() {
            var options = {
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'shiftId',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='shiftId' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'shiftDate',
                    align: 'center',
                    title: '值班日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='oaDutyRoomList[%s].shiftDate' value='%s' placeholder='yyyy-MM-dd' style='width: 200px'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'userId',
                    align: 'center',
                    title: '值班人员',
                    formatter: function(value, row, index) {
                        var data = [{ index: index, type: value }];
                        return $("#goodsTypeTpl").tmpl(data).html();
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;

            var row = {
                shiftId: $.table.serialNumber(count),
                shiftDate: "",
                userId: "",
                delFlag: "",
                createdBy: "",
                createdTime: "",
                updatedBy: "",
                updatedTime: "",
            }
            sub.addRow(row);
        }

        $("input[name='createTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate: new Date()
        });

        $("#bootstrap-table").on("post-body.bs.table", function (e, args) {
            $("input[name$='shiftDate']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
                pickerPosition: 'top-right',
                startDate: new Date()
            });
        });

    </script>
</body>
</html>
<script id="goodsTypeTpl" type="text/x-jquery-tmpl">
    <div>
        <select name='oaDutyRoomList[${index}].userId' class="form-control" >
            <option
                th:each="cooperationPlatformDO : ${list}" th:selected="${cooperationPlatformDO.userName}"
                th:value="${cooperationPlatformDO.userId}"
                th:text="${cooperationPlatformDO.userName}">
            </option>
        </select>
    </div>

</script>